.star-icon {
  width: 20px;
  margin-right: 10px;
}

header {
  justify-content: flex-start;
  display: flex;
  margin-left: 2px;
  gap: 10px;
}

.logo-text-header {
  text-decoration: none;
}

h1 {
  font-size: 45px;
}
